body{
    background-color: #f0ebf8;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: large;
  font-weight: 100;
}
h2:first-child{
  margin-top: 0px;
}

p{
  font-size: small;
}

select{
  width: max-content;
  background-color: #ffffff;
  border-color: grey;
  min-width: 180px;
  padding: 10px;
  border-width: 1px;
}


.input-block{
    background-color: white;   
    max-width: 650px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 1rem;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}

.submit-block{
  max-width: 690px;
  margin: auto;
  margin-bottom: 1rem;
}



input[name="tanggal"]{
  min-width: 160px;
  border-color: grey;
  border-width: 1px;
}

input[type="text"]{
  border-width: 0px 0px 1px 0px;
  border-color: black;
  min-width: 160px;
}

input[type="submit"]{
  background-color: #7349bd;
  color: white;
  font-weight: 400;
  min-width: 90px;
  min-height: 35px;
  border-radius: 5px;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

input[type="date"]{
  padding: 10px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;;
}



