body{
    background-color: #f0ebf8;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: 200;
}

h2 {
  font-size: 16px;
  font-weight: 100;
  margin: 25px 0px;
}

select{
  width: max-content;
  background-color: #ffffff;
  min-width: 180px;
  border-color: grey;
  border-width: 1px;
  border-radius: 3px;
  padding: 10px;
  margin: 30px 0px;
}

:first-child{
  margin-top: 0px;
}

:last-child{
  margin-bottom: 0px;
}

.small{
  font-size: 12px;
}

.input-block{
    background-color: white;   
    max-width: 650px;
    border-radius: 10px;
    margin: 0px auto;
    padding: 20px;
    margin-bottom: 1rem;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}

.submit-block{
  max-width: 690px;
  margin: auto;
  margin-bottom: 1rem;
}

.asterisk {
  color: red;
}

input[name="tanggal"]{
  min-width: 160px;
  border-color: grey;
  border-width: 1px;
  border-radius: 3px;
}

input[type="text"]{
  border-width: 0px 0px 1px 0px;
  border-color: black;
  min-width: 200px;
}

input[type="submit"]{
  background-color: #673ab7;
  color: white;
  font-weight: 400;
  min-width: 90px;
  min-height: 35px;
  border-radius: 5px;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

input[type="submit"]:hover{
  background-color: #7349bd;
  cursor: pointer;
}

input[type="date"]{
  padding: 10px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;;
}

input[type="radio"]{
  margin: 7px;
}



