<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/style.css">
	<link rel="shortcut icon" href="/logo.png" type="image/x-icon">
	<title>Presensi Kajian</title>
	
</head>
<body>
	<form name="input_form" id="input_form">
		<div id="title" class="input-block">
			<h1>Presensi Kajian Al-Mughni</h1>
			<hr>
			<p><span class="asterisk">*</span> perlu diisi</p>
		</div>
		<div id="name" class="input-block">
			<h2>Nama<span class="asterisk">*</span></h2>
			<div class="dropdown">
				<select name="nama" id="namaSantri" class="dropdown">
					<option value="" disabled selected>Nama</option>
					{% for santri in list_santri -%}
  					<option value="{{ santri }}"><p> {{ santri }} </p></option>
					{%- endfor %}
				</select>
			</div> 
			<p class="small"><a href="/registrasi.html">Belum terdaftar ?</a></p>
		</div>
		<div id="date" class="input-block">
			<h2>Tanggal Kajian<span class="asterisk">*</span></h2>
			<label for="tgl_kajian"></label>
			<input type="date" name="tanggal" class="dropdown">
		</div>
		<div id="presence" class="input-block">
			<h2>Bisa Hadir<span class="asterisk">*</span></h2>
			<label>
				<input type="radio" name="status_hadir" value="hadir">Hadir
			</label>
			<br>
			<label >
				<input type="radio" name="status_hadir" value="absen">Udzur
			</label>
			<br>
		</div>
		<div id="reason" class="input-block">
			<h2>Alasan</h2>
			<input type="text" name="alasan" placeholder="Alasan anda">
		</div>
		<div class="submit-block">
			<input type="submit" value="Submit"	>
		</div>
	</form>
	<script type="text/javascript" src="scripts/index.js"></script>
	
	
</body>
</html>