<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/style.css">
	<link rel="shortcut icon" href="/logo.png" type="image/x-icon">
	<title>Presensi Kajian</title>
	
</head>
<body>
	<form name="form_registrasi" id="form_registrasi">
		<div id="title" class="input-block">
			<h1>Presensi Kajian Al-Mughni</h1>
		</div>
		<div id="name" class="input-block">
			<p>Nama</p>
			<input type="text" name="nama" id="nama"> 
		</div>
		
		<div class="input-block">
			<input type="submit" value="Register"	>
		</div>
	</form>
	<script type="text/javascript" src="scripts/registrasi.js"></script>
	
	
</body>
</html>