<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/cert-style.css">
	<link rel="shortcut icon" href="/logo.png" type="image/x-icon">
	<title>Presensi Kajian</title>
	
</head>
<body>
	<div class="cert-body">
		<h1>CERTIFICATE</h1>
		<h2>OF PARTICIPATION</h2>
		<p>THIS CERTIFICATE IS AWARDED TO</p>
		<p>for participating at</p>
		<p>Al-Mughni Arabic: Sharaf Dasar Angkatan 1</p>
		<p>Delivered by: Muhammad Rayhan Fuadi</p>
		<p>held virtually from June 13 to September 15, 2022</p>
	</div>
</body>
</html>